rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // User profiles
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Construction Projects: Read and write projects
    match /projects/{projectId} {
      allow read, write: if true;
    }
  }
}

